<strong>Olá, {{ user }}</strong>
<p>Sua compra foi realizada. Confira abaixo os itens adquiridos:</p>
<p>
  <strong>Modelo: </strong> {{ modelo }} <br/>
  Data/Hora: {{ date }} <br/>
  Quantidade: {{ quantidade }} <br/>
  Valor: R$ {{ preco }} <br/>
  <br/>
  <small>
    Em caso de dúvidas entre em contato pelo email: brisastore@brisa.com.
  </small>
</p>